spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  application:
    name: smart-home-iot

  logging:
    level:
      org.springframework.boot.context.config: DEBUG
      org.springframework.batch: DEBUG
      org.springframework.jdbc: DEBUG

  batch:
    jdbc:
      initialize-schema: never
      table-prefix: BATCH_
      platform: mysql
    job:
      enabled: false

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  servlet:
    context-path: /api
  port: 8080

jwt:
  header: Authorization
  expiration-ms: 36000000
